/* Reset styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  font-family: sans-serif;

  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* Utility styles */

.place-items__center {
  display: grid;
  place-items: center;
}

.place-content__center {
  display: grid;
  place-content: center;
}

.text-align__center {
  text-align: center;
}

.auto-flow__column {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

/* Main styles */

.profile-card {
  width: 360px;
  height: 600px;

  padding: 20px;

  background-color: rgba(35, 35, 116, 0.829);
  border-radius: 5px;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1rem;
}

.card-header .header-icon {
  width: 30px;
  height: 30px;
}

.card-body .main {
  border-bottom: 1px solid white;

  margin-bottom: 20px;
}

.card-body .main .avatar {
  width: 150px;

  border-radius: 50%;

  margin-bottom: 20px;
}

.card-body .main h1 {
  font-size: 27px;
  margin-bottom: 10px;
}

.card-body .main h2 {
  font-size: 16px;

  text-transform: uppercase;
  font-weight: 500;

  color: lightgray;
  margin-bottom: 10px;
}

.card-body .main p {
  margin-bottom: 10px;
}

.card-body .main .button {
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 20px;

  border-radius: 30px;
  background: linear-gradient(66deg, rgb(101 114 181) 0%, rgb(230 70 203) 100%);
}

.card-body .social-media .icon-wrapper {
  width: 70px;
  height: 70px;

  margin-bottom: 15px;

  background: linear-gradient(45deg, #1780ec 0%, #e492de 90%);
  border-radius: 50%;
}

.card-body .social-media .icon-wrapper svg {
  width: 40px;
  object-fit: cover;
}

.card-body .social-media h3 {
  font-size: 20px;

  margin-bottom: 15px;
}

.card-body .social-media p {
  font-size: 14px;
  font-weight: 100;
  color: lightgray;
}
