/* Main styles */

.profile-card {
  width: 360px;
  height: 600px;

  padding: 20px;

  background-color: rgba(35, 35, 116, 0.829);
  border-radius: 5px;

  box-shadow: 4px 4px 10px #00000050;

  transition: 0.5s;
}

.profile-card:hover {
  box-shadow: 20px 20px 10px #00000050;
  transform: translate(-5px, -5px);
}

.card-header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1rem;
}

.card-header .header-icon {
  display: grid;
  place-items: center;

  width: 35px;
  height: 35px;

  border-radius: 50%;
}

.card-header .header-icon svg {
  transition: 0.01s linear;
}

.card-header .header-icon svg path {
  transition: 0.1s linear;
}

.card-header .header-icon svg {
  width: 25px;
  height: 25px;

  fill: white;
}

.card-header .header-icon svg > path {
  fill: #fff;
}

.card-header .header-icon:hover {
  background: linear-gradient(
    66deg,
    rgb(122, 121, 121) 0%,
    rgb(218, 206, 206) 100%
  );
}

.card-header .header-icon:nth-child(2):hover svg {
  stroke: rgb(230 70 203);
}

.card-header .header-icon:nth-child(2):hover svg > path {
  fill: rgb(230 70 203);
}

.card-body .main {
  border-bottom: 1px solid white;

  margin-bottom: 20px;
}

.card-body .main .avatar {
  width: 150px;

  border-radius: 50%;

  margin-bottom: 20px;

  filter: brightness(90%);
  transition: 0.5s;
}

.card-body .main .avatar:hover {
  transform: scale(1.1);
  filter: brightness(100%);
}

.card-body .main h1 {
  font-size: 27px;
  margin-bottom: 10px;
}

.card-body .main h2 {
  font-size: 16px;

  text-transform: uppercase;
  font-weight: 500;

  color: lightgray;
  margin-bottom: 10px;
}

.card-body .main p {
  margin-bottom: 10px;
}

.card-body .main .button {
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 20px;

  border-radius: 30px;
  background: linear-gradient(66deg, rgb(101 114 181) 0%, rgb(230 70 203) 100%);

  box-shadow: 4px 4px 10px #00000050;

  transition: 0.5s;
}

.card-body .main .button:hover {
  filter: brightness(120%);

  animation: swing 0.5s linear;
}

.card-body .social-media .icon-wrapper {
  width: 70px;
  height: 70px;

  margin-bottom: 15px;

  background: linear-gradient(45deg, #1780ec 0%, #e492de 90%);
  border-radius: 50%;

  transition: 0.5s;
}

.card-body .social-media .icon-wrapper:hover {
  transform: rotate(-10deg);
  filter: brightness(110%);
}

.card-body .social-media .icon-wrapper svg {
  width: 40px;
  object-fit: cover;
}

.card-body .social-media h3 {
  font-size: 20px;

  margin-bottom: 15px;
}

.card-body .social-media p {
  font-size: 14px;
  font-weight: 100;
  color: lightgray;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
