/* Utility styles */

.place-items__center {
  display: grid;
  place-items: center;
}

.place-content__center {
  display: grid;
  place-content: center;
}

.text-align__center {
  text-align: center;
}

.auto-flow__column {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
